/* src/components/Navbar.css */
.navbar {
  font-family: New York;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
  }
  
  .navbar-left .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-links {
    size:20px;
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    padding: 5px 10px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #f39c12; /* Golden color for hover effect */
  }
  
  .navbar-right {
    display: flex;
  }
  
  .navbar-right .nav-links li {
    margin-left: -10px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-center {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  
    .navbar-right {
      margin-top: 10px;
    }
  }
  
  .logo {
    max-width: 200px;  /* Adjust this as needed */
    height: auto;
  }
  
  .account-logo {
    width: 50px;  /* Adjust the size as needed */
    height: 40px;
  }
  
 .pricing-logo {
    width: 50px; /* Adjust width as needed */
    height: 40px; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns the icon vertically */
    cursor: pointer; /* Pointer cursor on hover */
  }
  